.task {
  position: relative;
  padding: 0.5rem 0 0.5rem 1.5rem;
  color: #004c40;
  cursor: pointer;
  &::before {
    position: absolute;
    left: 0;
    content: '🏷';
  }
  &:last-child {
    padding-bottom: 0;
  }
  &--completed {
    text-decoration: line-through;
    opacity: 0.5;
    &::before {
      content: '🎉';
    }
  }
}
